numpy
spacy
wandb

torch
torchvision
torch-scatter

accelerate
transformers
sentence_transformers

# Post install commands:
# python -m spacy download pl_core_news_sm
# python -m spacy download en_core_web_sm
